@model IEnumerable<Hyvinvointisovellus.Hymynaama>

@{
    ViewBag.Title = "OmattiedotTyontekija";
}
<div class="jumbotron">
    <h1>Omat tiedot</h1>
    <p class="lead">
        Täällä pystyt tarkastelemaan omia tietojasi, kirjaamaan päivän fiiliksesi sekä antamaan palautetta työnantajallesi.
    </p>
    @*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

<p></p>
<h2>Päivän fiilis</h2>
<p></p>
<div>
    <a class="btn btn-outline-primary" href="/Hymynaama/Create">Lisää tämän päivän fiiliksesi</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hymynaama1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tyontekijat.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hymynaama1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tyontekijat.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td align="right">
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.HymynaamaID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Tietoja", "Details", new { id = item.HymynaamaID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Poista", "Delete", new { id = item.HymynaamaID }, new { @class = "btn btn-outline-primary" })
            </td>

        </tr>
    }
</table>
<div>
    <a class="btn btn-outline-dark" href="/Home/IndexTyontekija">Takaisin etusivulle</a>
</div>

.
