@model Hyvinvointisovellus.Palaute

@{
    ViewBag.Title = "Delete";
}
<h2>Palautteet</h2>
<h3>Haluatko varmasti poistaa tämän?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palaute1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palaute1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyontekijat.Etuimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyontekijat.Etuimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-danger" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
