@model Hyvinvointisovellus.Palaute

@{
    ViewBag.Title = "Details";
}

<h2>Tietoja palautteesta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palaute1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palaute1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyontekijat.Etuimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyontekijat.Etuimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.PalauteID }) |
    @Html.ActionLink("Takaisin", "Index")
</p>
