@model Hyvinvointisovellus.Tyontekijat

@{
    ViewBag.Title = "Delete";
}
<p></p>
<h3>Poista työntekijä</h3>

<h2>Haluatko varmasti poistaa tämän työntekijän?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etuimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etuimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-danger" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
