@model IEnumerable<Hyvinvointisovellus.Tyontekijat>

@{
    ViewBag.Title = "Index";
}
<p></p>
<h2>Tietoja työntekijöistä</h2>

<p></p>

<html>
<body>
	<button id="myBtn">
		Lisää uusi työntekijä
		<script>
			document.getElementById("myBtn").addEventListener("click", myFunction);
			function myFunction() {
				window.location.href = "/Tyontekijat/Create";
			}
		</script>
	</button>
</body>
</html>
<p></p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Etunimi)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Sukunimi)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.TyontekijaID }) |
            @Html.ActionLink("Tietoja", "Details", new { id=item.TyontekijaID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.TyontekijaID })
        </td>
    </tr>
}

</table>
